                 <!-- begin footer -->   

                 
                </div>
                    <div class="motd">
                    footer
                     </div>
            </div>
        
        </div>
    </div>
</body>
</html>

 